.img-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  }
  
  .img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 20px 0;
  }
  
  input[type="file"] {
    margin: 20px 0;
    padding: 10px;
    background-color: #0e8cac;
    color: white;
    cursor: pointer;
  }
  
  input[type="file"]:hover {
    background-color: #35373f;
  }
  